html {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #afcfd8;
}

h1 {
    text-align: center;
}

.center {
    text-align: center;
}

.footer {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6cc2d8;
    width: 100%;
}

.banner-content {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #6cc2d8;
}

.not-header {
    padding-top: 70px;
}