html {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    text-align: center;
}

.center {
    text-align: center;
}

.footer {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4b4cba;
    width: 100%;
}

.banner-content {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000;
}

.main-content {
    padding-top: 70px;
}